body{
    --color1: hsla(200, 80%, 86%, 1);
    --color2: hsla(223, 76%, 28%, 1);
    --color3: rgb(244, 67, 35);;
    --color4: hsla(30, 36%, 87%, 1);
    --color5: hsla(208, 8%, 87%, 1);
    --pad: 20px;
    
    background-color: var(--color4);
    font-family: 'Didact Gothic', sans-serif;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
    
    section {
        height: 100%;
        background-color: var(--color1);
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: var(--pad);
        margin: 30px;
        border: solid 2px var(--color2);
        border-radius: 50px;
    }
    
    header {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color3);
        color: var(--color4);
        padding: 20px;
    }
    
    input[type=radio] {
        display: none;
        cursor: pointer;
    }
    
    input:checked + img {
        border: solid 2px var(--color3);
        cursor: pointer;
    }

    button {
        margin-top: 50px;
        padding: 5px;
        border-radius: 5px;
        box-shadow: 1px 1px 1px;
        cursor: pointer;
    }
    
    h2 {
        font-size: 2rem;
        font-weight: bold;
        margin: var(--pad);
    }
    
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        padding: 5px;
        display: flex;
        justify-content: center;
        background-color: var(--color3);
        color: var(--color4)
    }
